@keyframes go {
  from {
    box-shadow: 0px 0px 0px #ff2200, 0px 0px 0px #ff2200, 0px 0px 0px #ff2200,
      0px 0px 0px #ff2200;
  }

  to {
    box-shadow: 2px 0px 10px #ff2200, 0px 2px 10px #ff2200,
      -2px 0px 10px #ff2200, 0px -2px 100px #ff2200;
  }
}

#start {
  width: 500px;
  height: 500px;
  background-image: url("draw.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#start > h2 {
  margin-top: 50px;
  width: 100%;
  font-size: 60px;
  color: #fff000;
  text-shadow: 2px 2px 0px #ff2200, -2px -2px 0px #ff2200;
  text-align: center;
  top: 0;
  left: 0;
}

#start a {
  margin-top: 50px;
  padding: 15px;
  border-radius: 10px;
  background: #ffe200;
  font-size: 60px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  transition: background 0.5s linear;
  animation: go 1s linear infinite alternate;
}

#start > a:hover {
  background: #ff0048;
  text-shadow: none;
  animation-play-state: paused;
}
