#editForm {
  margin-left: 15px;
  padding-top: 20px;
  width: 500px;
  height: 850px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow-y: auto;
}

#editForm > p {
	display: flex;
  justify-content: flex-end;
}

#editForm > div {
  align-self: flex-end;
}

fieldset {
  padding: 5px 10px;
  border: none;
}

legend {
  color: #4269ff;
  font-size: 1.3em;
}

#editForm > div > button {
  margin: 10px 10px 10px 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #4269ff;
  font-size: 1em;
  color: #ffffff;
}

.label {
	margin-bottom: 10px;
	display: inline-block;
	padding: 5px;
	text-align: center;
	}