.textarea,
.select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #4269ff;
  border-radius: 5px;
}

.textarea {
width: 300px;
}

.select {
width: 300px;
}

.select .p-dropdown-item {
  padding: 10px;
}

.text label {
  padding: 15px 5px 15px 5px;
  display: inline-block;
}
