.textarea,
.select {
  margin: 5px;
  padding: 5px;
  border: 1px solid #4269ff;
  border-radius: 5px;
}

.textarea {
width: 150px;
}

.select {
width: 100px;
}

.select option {
padding: 5px;
}

.text label {
  padding: 15px 5px 15px 5px;
  display: inline-block;
}

.toggle {
margin: 5px;
padding: 5px;
border: 1px solid #4269ff;
}