.my-slider {
	margin-bottom: 10px;
width: 150px;
}

.my-slider .p-slider-range {
background-color: transparent;
}

.p-selectbutton {
	margin-top: 10px;
	}
	
.p-selectbutton .p-button {
	padding: 10px;
	border-color: #4269ff;
	color: #4269ff;
	}
	.p-selectbutton .p-button.p-highlight .p-button-label {
  color: white !important;
}



