#brush span {
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
}

#brush label {
  padding: 15px 15px 15px 5px;
  color: #ffffff;
  display: inline-block;
}

#brush .label {
  color: #000000;
  display: inline-block;
}

.my-slider {
width: 150px;
}

.my-slider .p-slider-handle {
    width: 20px;
    height: 20px;
    margin-top: -10px; 
}

.my-slider .p-slider-track {
    border-radius: 0 !important;
}

