.brush .span {
	padding: 10px;
	border-color: #4269ff;
}

.brush label {
	nargin: 10px;
	}

.my-slider {
width: 150px;
}

.my-slider .p-slider-handle {
    width: 20px;
    height: 20px;
    margin-top: -10px; 
}

.brushPanel {
	display: flex;
justify-content: flex-start;
}

