button#help {
	margin-bottom: 40px;
	margin-right: 10px;
	padding: 10px;
  border: 1px solid #4269ff;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  flex: 0 0 auto;
}

#tooltip {
  padding: 5px 10px;
  width: 300px;
  background: #4269ff;
  color: #ffffff;
  text-align: left;
  display: none;
  position: absolute;
  top: 10px;
  right: 45px;
  z-index: 100;
  box-shadow: 0px 0px 10px 5px #4269ff;
  transition: display 0.5s linear;
}

.tooltip mark {
	margin-top: 2px;
	margin-bottom: 2px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background: #0000ff;
  color: #ffffff;
  display: inline-block;
}
