@font-face {
  font-family: 'Buka Bird'; 
  src: url('font/Buka-Bird.woff2') format('woff2'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap; 
}

@font-face {
  font-family: 'Futura'; 
  src: url('font/Futura.woff2') format('woff2'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap; 
}

@font-face {
  font-family: 'Kvadrat'; 
  src: url('font/Kvadrat.woff2') format('woff2'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap; 
}

@font-face {
  font-family: 'Preciosa Valeria'; 
  src: url('font/Preciosa-Valeria.woff2') format('woff2'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap; 
}

@font-face {
  font-family: 'Sporefunkfont Regular'; 
  src: url('font/Sporefunkfont-Regular.woff2') format('woff2'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap; 
}

@font-face {
  font-family: 'Tilda Script'; 
  src: url('font/tilda-script-non-connect-bold.woff2') format('woff2'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap; 
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
	
body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	}

html {
	height: 100%;
	font-size: 18px;
	}
	
address {
	padding: 30px 20px 20px;
	background-image: linear-gradient(to bottom, #FFFFFF, #8DACFF);
	background-repeat: no-repeat;
	text-align: center;
	}
	
#root {
	height: 100%;
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	}
	
h1 {
	padding: 10px;
	background-image: linear-gradient(to bottom, #8DACFF, #FFFFFF);
	background-repeat: no-repeat;
	font-family: Arial;
	font-size: 4em;
	font-weight: bold;
	color: #FFE600;
	text-align: center;
	align-self: stretch;
	text-shadow: 5px 0px 5px #0000FF, 0px 5px 5px #0000FF, -5px 0px 5px #0000FF, 0px -5px 5px #0000FF;
	}

