* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
	
body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	}

html {
	height: 100%;
	font-size: 18px;
	}
	
address {
	padding: 10px;
	background-image: linear-gradient(to bottom, #FFFFFF, #8DACFF);
	background-repeat: no-repeat;
	text-align: center;
	}
	
#root {
	height: 100%;
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	}
	
h1 {
	padding: 10px;
	background-image: linear-gradient(to bottom, #8DACFF, #FFFFFF);
	background-repeat: no-repeat;
	font-family: Arial;
	font-size: 4em;
	font-weight: bold;
	color: #FFE600;
	text-align: center;
	text-shadow: 5px 0px 5px #0000FF, 0px 5px 5px #0000FF, -5px 0px 5px #0000FF, 0px -5px 5px #0000FF;
	}

